body
 +light
 color: $text-color

/*Кнопка в навигации*/
.button-o
 background-color: transparent
 padding: 17px 22px
 font-size: 12px
 +bold
 text-transform: uppercase
 border: 2px solid $primary
 color: $primary

/*Кнопка в блоке hero*/
.button
 padding: 25px 45px
 text-transform: uppercase
 border: none
 background-color: $primary
 color: #fff
 +bold