body
 +light
 color: $text-color

/*Кнопка*/
.button-o
 background-color: transparent
 padding: 17px 22px
 font-size: 12px
 +bold
 text-transform: uppercase
 border: 2px solid $primary
 color: $primary

