.price
 &-block
  +setflex
  &__card
   margin-bottom: 10px
 &-card
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05)
  &__text
   padding: 20px
   font-size: 15px
  &__pricetag
   margin-bottom: 24px
   +setflex
  &__title
   margin: 0
  &__cost
   +bold
  &__button
   text-align: center
 
